.footer {
  position: relative;
  height: 350px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  overflow: hidden;
}

.footer__scroll-container {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  height: calc(100vh + 350px);
}

.footer__sticky {
  position: sticky;
  top: calc(100vh - 350px);
  height: 350px;
  width: 100%;
}