.footer {
  position: relative;
  height: clamp(220px, 36vh, 420px);
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.footer__scroll-container {
  position: relative;
  height: calc(100vh + clamp(220px, 36vh, 420px));
  top: -100vh;
}

.footer__sticky {
  height: clamp(220px, 36vh, 420px);
  position: sticky;
  top: calc(100vh - clamp(220px, 36vh, 420px));
}